  <body>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="header_welcome">
              <h6>Welcome {{session['username']}}</h6>
            </div>
        </header>

<!-- <header class="navbar navbar-dark sticky-top bg-success flex-md-nowrap p-1 shadow">
    <a class="navbar-brand col-md- col-lg-2 me-0 px-3" font href="#"><b>Si - Klinik</b></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="btn btn-sm btn-danger" href="#">Sign out</a>
      </li>
    </ul>
  </header> -->